<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjectMAD.My.MySettings.MAD_PIAConnectionString"
            connectionString="Data Source=mad-pia.database.windows.net;Initial Catalog=MAD_PIA;User ID=pana;Password=David1_Adrian1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

  <appSettings>
    <add key="DataBaseServer" value="mad-pia.database.windows.net" />
    <add key="DataBaseUser" value="pana"/>
    <add key="DataBasePassword" value="David1_Adrian1"/>
    <add key="ConectionDB" value=""/>
  </appSettings>
</configuration>
