<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="ProjectMAD.My.MySettings.MAD_PIAConnectionString" connectionString="Data Source=mad-pia.database.windows.net;Initial Catalog=MAD_PIA;User ID=pana;Password=David1_Adrian1" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ConnectionDB" value="Data Source=mad-pia.database.windows.net;Initial Catalog=MAD_PIA;User ID=pana;Password=David1_Adrian1" />
  </appSettings>

</configuration>